.odd{
    background-color: rgb(255, 192, 203);
    font-family: 'Verdana','DejaVu Sans','sans-serif';   
}

.three{
    font-size: 24px;
}

#two{
    color: #0000ff;
    font-size: 36px;
}

#four{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}